/*------------------------- SASS Variables ------------------------*/
/*------------------------- Utility Classes ------------------------*/
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.pink {
  color: #d8226b;
}

.grey {
  color: grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.width-50 {
  max-width: 50%;
}

.width-25 {
  max-width: 25%;
}

.width-75 {
  max-width: 75%;
}

.width-100 {
  max-width: 100%;
}

.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.wpforms-container {
  width: 100% !important;
}

.bottom {
  margin-bottom: 60px;
}

/*------------------------- Nav Bar ------------------------*/
nav {
  width: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.nav-bar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar-links li {
  list-style: none;
  margin: 10px;
  padding-left: 20px;
}

.nav-bar-links li a {
  text-decoration: none;
  font-size: 20px;
}

.nav-bar-links li a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.nav-bar-logo {
  margin-left: 20px;
}

.top-nav-dropdown {
  position: relative;
}

.top-nav-dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  z-index: 99999;
}

.top-nav-dropdown-item {
  display: none;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#about-us-link:hover #faq-link {
  display: block;
}

.mobile-toggle-button {
  list-style: none;
  position: absolute;
  top: 10px;
  right: 30px;
  display: none;
}

.mobile-toggle-button a {
  font-size: 50px;
  padding: 10px;
}

.mobile-toggle-button:hover {
  opacity: 0.5;
}

.current-menu-item a {
  font-weight: 900;
}

#desktop-dropdown-icon {
  display: inline;
}

#mobile-dropdown-icon {
  display: none;
}

/*------------------------- Nav Bar Mobile ------------------------*/
@media screen and (max-width: 800px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 58px;
    left: 0;
    padding-left: 0;
    padding-right: 30%;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
  }
  .mobile-toggle-button {
    display: block;
  }
  .nav-bar-logo {
    margin: auto;
  }
  .nav-bar-links.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 58px;
    left: 0;
    padding-left: 0;
    padding-right: 30%;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
    z-index: 99999;
  }
  .top-nav-dropdown-menu {
    display: inline;
    margin-top: -5px;
  }
  #desktop-dropdown-icon {
    display: none;
  }
  #mobile-dropdown-icon {
    display: inline;
  }
}

/*------------------------- SASS Variables ------------------------*/
/*------------------------- Utility Classes ------------------------*/
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.pink {
  color: #d8226b;
}

.grey {
  color: grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.width-50 {
  max-width: 50%;
}

.width-25 {
  max-width: 25%;
}

.width-75 {
  max-width: 75%;
}

.width-100 {
  max-width: 100%;
}

.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.wpforms-container {
  width: 100% !important;
}

.bottom {
  margin-bottom: 60px;
}

.welfare-officer {
  position: relative;
}

.welfare-officer span {
  display: none;
  z-index: 99;
}

.welfare-officer:hover span {
  display: block;
}

/*------------------------- SASS Variables ------------------------*/
/*------------------------- Utility Classes ------------------------*/
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.pink {
  color: #d8226b;
}

.grey {
  color: grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.width-50 {
  max-width: 50%;
}

.width-25 {
  max-width: 25%;
}

.width-75 {
  max-width: 75%;
}

.width-100 {
  max-width: 100%;
}

.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.wpforms-container {
  width: 100% !important;
}

.bottom {
  margin-bottom: 60px;
}

footer {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-text {
  padding-left: 50px;
  padding-top: 20px;
  display: block;
}

footer .footer-logos {
  display: block;
  padding-left: 50px;
  padding-top: 20px;
}

footer p a {
  text-decoration: none;
}

footer ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
}

#current-menu-item {
  font-weight: 800;
}

@media screen and (max-width: 800px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto !important;
    width: 90%;
  }
  footer p {
    font-size: 2vw !important;
    margin: auto !important;
  }
  .footer-logos img {
    max-width: 100%;
  }
}

/*------------------------- SASS Variables ------------------------*/
/*------------------------- Utility Classes ------------------------*/
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.pink {
  color: #d8226b;
}

.grey {
  color: grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.width-50 {
  max-width: 50%;
}

.width-25 {
  max-width: 25%;
}

.width-75 {
  max-width: 75%;
}

.width-100 {
  max-width: 100%;
}

.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.wpforms-container {
  width: 100% !important;
}

.bottom {
  margin-bottom: 60px;
}

body {
  text-align: center;
  width: 100%;
  margin: auto;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a.primary-button {
  font-size: 30px;
  max-width: 500px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: opacity 0.33s;
  transition: opacity 0.33s;
}

.secondary-button {
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 600px;
  margin: auto;
  -webkit-transition: opacity 0.33s;
  transition: opacity 0.33s;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    margin: auto;
  }
  body h1 {
    font-size: 6vw;
  }
  body h2 {
    font-size: 4vw;
  }
  body h3 {
    font-size: 2vw;
  }
  body p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */